<div class="teaser">
  <div class="teaser__media">
    <img src="{{ teaserImage | url }}" alt="{{ teaserImage }}"></img>
  </div>
  <div class="teaser__content">
    <h3>{{ teaserTitle }}</h3>
    <p>{{ teaserText }}</p>
  </div>
</div>