---
layout: layouts/base.njk
---
<h2>{{ title }}</h2>
<h3>{{ date | readableDate }}</h3>
<img src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>

{% include "../components/teaser.njk" %}

<p>{{ content | safe }}</p>
<img src="{{ footerImage | url }}" alt="{{ footerImage }}"></img>